%ul{:id=>"nav"}
  %li
    %a{:href=>"/"}= "home"
  %li
    %a{:href=>"https://cwiki.apache.org/confluence/display/S4/S4+Wiki"}= "doc [0.5]"
  %li
    %a{:href=>"http://git-wip-us.apache.org/repos/asf?p=incubator-s4.git", :onClick=> google_analytics_event("External", "Apache Git", "http://github.com/s4")}= "code"
  %li
    %a{:href=>"http://people.apache.org/~mmorel/apache-s4-0.5.0-incubating-doc/javadoc/"}="API"
  %li
    %a{:href=>"/contrib"}= "get involved"
  %li
    %a{:href=>"/team"}= "team"
  %li
    %a{:href=>"/download"}= "download"
