---
title: Team
---
#maintainers
  %h2{:class=>"secheader"}= "maintainers"
  %p= "Committers:"
  .tabular
    %table
      %tr
        %th= "name"
        %th= "affiliation"
      %tr
        %td= "Kishore Gopalakrishna"
        %td= "LinkedIn"
      %tr
        %td= "Flavio Junqueira"
        %td= "Yahoo!"
      %tr
        %td= "Matthieu Morel"
        %td= "Yahoo!"
      %tr
        %td= "Leo Neumeyer"
        %td= "QuantBench"
      %tr
        %td= "Bruce Robbins"
        %td= "Yahoo!"
      %tr
        %td= "Daniel Gomez Ferro"
        %td= "Yahoo!"
        
  %h2{:class=>"secheader"}= "former contributors"
  
  .tabular
    %table
      %tr
        %td= "Anand Kesari"
        %td= "Yahoo!"
      %tr
        %td= "Anish Nair"
        %td= "A9"

    /%p= "We ask that you please do not send us emails privately asking for support. We are non-paid volunteers who help out with the project and we do not necessarily have the time or energy to help people on an individual basis. Instead, we have setup a mailing list for the project which can contain a wider range of individuals who will help answer detailed requests for help. The benefit of using mailing lists over private communication is that it is a shared resource where others can also learn from common mistakes and as a community we all grow together."
